<html>
        <head>
            <title>My page</title>
        </head>
<body>

    <header>
        <h1> Olá </h1>
    </header>

    <section>
      <p> Aqui é minha página Home</p>
    </section>

</body>
</html>